<input type="hidden" name="_page_blocks[]" value="{{post_id}}">

{{ wpb_block_edit_link() }}

<div class="block-info" data-post-id="{{post_id}}" data-page-id="{{page_id}}">
	<div class="block-name">{{ block_name }}</div>
	<div class="block-description">{{ block_description }}</div>
	<div class="block-preview">
		{% block preview %}{% endblock %}
	</div>
</div>

